.container {
	border: 1px solid;
	background: #99C2D6;
	width: 300px;
	padding: 5px;
	margin: 3px;
}

.row {
	border: 1px #FFF solid;
}

.cell {
	width: 25%;
  	border: 1px #FFF solid;
  	cursor: pointer;
}