.main {
  width: 331px;
  height: auto;
  overflow: hidden;
  margin: 100px auto;
  padding: 31px 34px 9px;
  position: relative;
  background: #81BC44;
  border-radius: 3px;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.2);
}

.row {
	  overflow: hidden;
	  padding-top: 65px;
}

.row span:hover {
	 background: rgba(255,255,255,0.8);
	 color: #005E33;
}

.row  span{
	 overflow: hidden;
	 float: left;
	 position: relative;
	 top: 0;
	 font: normal 25px Arial, sans-serif;
	 cursor: pointer;
	 width: 66px;
	 height: 56px;
	 background: #005E33;
	 border-radius: 3px;
	 box-shadow: 0px 4px rgba(0, 0, 0, 0.2);
	 margin: 0 7px 11px 0;
	 color: #ccc;
	 line-height: 56px;
	 text-align: center;
	 user-select: none;
}

.screen , .screen-panel {
	 height: 80px;
	 width: 100%;
	 position:absolute;
	 top:0; left:0;
	 padding: 20px 15px;

}

.screen input {
	 background: #FFF;
	 font-size: 27px;
	 font-weight:normal;
	 line-height: 40px;
	 text-shadow: 1px 1px 2px #005E33;
	 text-align: right;
	 letter-spacing: 1px;
}